/node_modules
/public/hot
/public/storage
/storage/framework
/storage/app
/storage/logs
/vendor
/.idea
/phpreport
docker/.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.env
/.editorconfig
/config/sentry.php
